<h1>My Pages</h1>

<ul class="admin-pages-list">
    <li>
        <a asp-controller="Admin" asp-action="ListAdminInformation">My Information</a>
    </li>
    <li>
        <a asp-controller="Admin" asp-action="ListActivitiesToApprove">Activities to Approve</a>
    </li>
    <li>
        <a asp-controller="Admin" asp-action="ListAllActivities">List/Edit/Delete Activities</a>
    </li>
    <li>
        <a asp-controller="Admin" asp-action="ListAllCategories">List/Create/Edit/Delete Categories</a>
    </li>

</ul>

@* <h4>List all Users</h4>
<h4>Delete User</h4> *@

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}