@using EventureMVC.Models.ViewModel;
@model CommentViewModel;

@{
    ViewData["Title"] = "New Comment";
}

@{
    var userId = Context.Session.GetString("nameid");
}
    @if (string.IsNullOrEmpty(userId))
{
    <p>You need to be logged in to view this page. <a href="/User/Login">Click here to log in.</a></p>
}
else
{
    <h1 class="mt-4">Add a Comment</h1>
    <form asp-action="Create" method="post">
        <input type="hidden" asp-for="ActivityId" />

        <div class="form-group">
            <label for="CommentText">Comment</label>
            <textarea id="CommentText" name="CommentText" class="form-control" rows="3" placeholder="Write your comment here" required></textarea>
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="ActivityId" value="@ViewData["id"]" />
            <input type="hidden" asp-for="UserId" value="@ViewData["id"]" />

        </div> 
        <button type="submit" class="btn btn-success">Submit</button>

        @* cancel & redirect back when cancelling, collaborates with ViewData in Create Comment (controller) *@
        <a asp-controller="Activity" asp-action="Index" asp-route-activityId="@ViewData["ActivityId"]" class="btn btn-secondary">Cancel</a>

    
    </form>
}
            