@using EventureMVC.Models.ViewModel;
@model CommentViewModel;

@{
    var userId = Context.Session.GetString("nameid");
}
    @if (string.IsNullOrEmpty(userId))
{
    <p>You need to be logged in to view this page. <a href="/User/Login">Click here to log in.</a></p>
}
else
{
    <h5 class="mt-4">Add a Comment</h5>
    <form asp-action="Create" method="post">
        <input type="hidden" asp-for="ActivityId" />

        <div class="form-group">
            <label for="CommentText">Comment</label>
            <textarea id="CommentText" name="CommentText" class="form-control" rows="3" required></textarea>
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="ActivityId" value="@ViewData["id"]" />
            <input type="hidden" asp-for="UserId" value="@ViewData["id"]" />

        </div> 
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
}
