@model EventureMVC.Models.ViewModel.CommentViewModel

<h1>Edit Comment</h1>

<form asp-action="Edit" asp-route-commentId="@Model.CommentId" method="post">

    <input type="hidden" asp-for="CommentId" />
    <input type="hidden" name="activityId" value="@Model.ActivityId" />

    <div class="form-group">
        <label asp-for="CommentText"></label>
        <textarea asp-for="CommentText" class="form-control"></textarea>
        <span asp-validation-for="CommentText" class="text-danger"></span>
    </div>

    <button type="submit" class="button submit-button"><i class="bi bi-check-circle-fill"></i>Submit</button>

    @* works together with viewdata in Edit *@
    <a asp-controller="Activity" asp-action="Index" asp-route-activityId="@ViewData["ActivityId"]" class="cancel-link">
        <i class="bi bi-x-circle-fill"></i>Cancel</a>

</form>
