@{
    ViewData["Title"] = "Successful Registration";
}

<h1>Thanks for registering</h1>
<p>Continue by signing in to your account or go to the Explore page!</p>

<a asp-controller="Explore" asp-action="Index" class="btn btn-primary">Explore</a>
<a asp-controller="User" asp-action="Login" class="btn btn-secondary">Login</a>
