@model EventureMVC.Models.ViewModel.UserPasswordViewModel

<h1>Edit Password</h1>

<form method="post" asp-action="EditUserPassword">

    <div class="form-group">
        <div class="form-group">
            <label asp-for="CurrentPassword">Current Password</label>
            <input asp-for="CurrentPassword" class="form-control" placeholder="Type your current password" />
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewPassword">New Password</label>
            <input asp-for="NewPassword" class="form-control" placeholder="Choose a new password" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword">Confirm Password</label>
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Type in new password again" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="button submit-button"><i class="bi bi-check-circle-fill"></i>Submit</button>
        <a asp-action="MyInformation" class="cancel-link"><i class="bi bi-x-circle-fill"></i>Cancel</a>

</form>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
