@{
    ViewData["Title"] = "My Pages";
}

<h1>My Pages</h1>

<ul>
    <li><a asp-controller="MyPages" asp-action="MyInformation">My Information</a></li>
    <li><a asp-controller="MyPages" asp-action="SavedActivities">Saved Activities</a></li>
    <li><a asp-controller="MyPages" asp-action="ActivitySignUps">Activity Sign-Ups</a></li>
    <li><a asp-controller="MyPages" asp-action="EditDeleteCreatedActivities">Edit/Delete Created Activities</a></li>
</ul>
