@{
    var userId = Context.Session.GetString("nameid");
}

@if (string.IsNullOrEmpty(userId))
{
    <p>You need to be logged in to view this page. <a href="/User/Login">Click here to log in.</a></p>
}
else
{
    <h1>Welcome to My Pages!</h1>

    <div class="list-group">
        <!-- My Information -->
        <a asp-controller="MyPages" asp-action="MyInformation" class="list-group-item list-group-item-action list-group-item-info">
            My Information
        </a>

        <!-- Saved Activities -->
        <a asp-controller="MyPages" asp-action="SavedActivities" class="list-group-item list-group-item-action list-group-item-warning">
            Saved Activities
        </a>

        <!-- Activity Sign-Ups -->
        <a asp-controller="MyPages" asp-action="ActivitySignUps" class="list-group-item list-group-item-action list-group-item-primary">
            Activity Sign-Ups
        </a>

        <!-- Edit/Delete Created Activities -->
        <a asp-controller="MyPages" asp-action="EditDeleteCreatedActivities" class="list-group-item list-group-item-action list-group-item-secondary">
            Edit/Delete Created Activities
        </a>
    </div>
}
