@{
    ViewData["Title"] = "About";
}
<h1>About Eventure's Purpose</h1>

<p>Eventure is your pocket-sized adventure buddy, designed to rescue you from the dreadful “What should we do today?” crisis. Whether you’re itching for a picnic, a concert, or even an epic family showdown at mini-golf, Eventure’s got your back. Simply tell the app your preferences—like “I’m broke” or “I need something kid-friendly that doesn’t involve glitter”—and voilà, it serves up the perfect activity suggestions. No planning stress, just pure fun!</p>

<h3>About the Creators</h3>

<p>
    Eventure was dreamed up by a team of four daring developers at Chas Academy: Noa Ishac, Parmis Morshedi, Max Samuelsson, and Quynh Truong. These legends decided the world needed an app that could save humanity from boring weekends and endless Netflix binges. Fueled by coffee, memes, and a shared love for debugging (okay, maybe not love), they built Eventure in just eight intense weeks. Their mission? To sprinkle a little extra joy and spontaneity into people’s lives—and maybe become the heroes of date nights everywhere.

    What do you think? Ready to swipe into your next adventure? 😉
</p>