@{
    ViewData["Title"] = "Contact";
}
<h1>Contact</h1>

<p>We’d love to hear from you! Whether you have questions, feedback, or just want to get in touch, feel free to reach out to us.</p>

<h4>How to Reach Us</h4>

<p>E-mail: <a href="mailto:contact@eventure.com">contact@eventure.com</a></p>