@{
    ViewData["Title"] = "Guest Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@


@if (Context.Session.GetString("UserRole") == "Guest")
{
    <p>Welcome, guest! Limited features are available.</p>

}
else
{
    <p>Welcome back, user!</p>
}