﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to Eventure</h1>

    <p>
        Join Eventure, your go-to platform for discovering exciting events around you.
        Whether you’re hosting or attending, easily share, find, and explore everything from concerts and festivals to workshops and meetups.
        Be part of a community-driven hub where connection happens through shared experiences.
        Post. Explore. Engage.
    </p>

    <a asp-controller="User" asp-action="Login" class="login-link">
        <i class="bi bi-person-fill"></i> Login
        </a>

    <a asp-controller="User" asp-action="Register" class="register-link">
        <i class="bi bi-person-plus-fill"></i> Register
    </a>

    <a asp-controller="Explore" asp-action="Index" class="continue-as-guest-link">
        <i class="bi bi-person-lines-fill"></i> Continue as guest
    </a>

</div>

<div class="banner-image">
    <img src="~/Images/BannerImage.jpg" class="img-fluid" alt="Image which shows people enjoying activities"/>

</div>