﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to Eventure</h1>

    <p>
        Join Eventure, your go-to platform for discovering exciting events around you.
        Whether you’re hosting or attending, easily share, find, and explore everything from concerts and festivals to workshops and meetups.
        Be part of a community-driven hub where connection happens through shared experiences.
        Post. Explore. Engage.
    </p>

    <a asp-controller="User" asp-action="Login" class="btn btn-primary" aria-label="Login-button">Log in</a>
    <a asp-controller="User" asp-action="Register" class="btn btn-primary" aria-label="Register-button">Register</a>
    <a asp-controller="Explore" asp-action="Index" class="btn btn-primary" aria-label="Continue as guest here-button">Continue as guest</a>
</div>

<div class="banner-image">
    <img src="~/Images/BannerImage.jpg" class="img-fluid" alt="Image which shows people enjoying activities"/>

</div>